.ratio {
  display: block;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: calc(var(--ratio-y,9) / var(--ratio-x,16) * 100%);
  }
}

@each $key in $aspect-ratio {
  $x: str-slice($key, 1, str-index($key, ":") - 1);
  $y: str-slice($key, str-index($key, ":") + 1);
  .ratio-#{escapeClass($key)} {
    --ratio-x: #{$x};
    --ratio-y: #{$y};
  }
}
