$colors: (
  "primary",
  "secondary",
  "color-title",
  "color-text",
  "color-subtle",
  "color-border",
  "color-header-title",
  "color-header-subtitle",
);

$bg: (
  "body-background-color",
  "bg-inset",
  "bg-subtle",
  "bg-template",
);

@each $color in $colors {
  .#{$color} {
    color: var(--#{$color});
  }
}

@each $bg in $bg {
  .#{$bg} {
    background-color: var(--#{$bg});
  }
}
