{{!--
Content of the widget Header
@author zkreations
@docs https://bloggercode-blogconnexion.blogspot.com/2019/05/widget-header.html
@data {string} data:imagePlacement - Image placement (BEHIND, REPLACE, BEFORE_DESCRIPTION)
--}}
<b:includable id='widget:Header'>
  <b:if cond='data:widget.sectionId != "header"'>
    {{!-- If sectionId is not "header" --}}
    <data:messages.theresNothingHere/>

    {{!-- If sectionId is "header" --}}
    <b:else/>
    <b:class name='header-wrapper text-center'/>

    {{!-- If image exists --}}
    <b:if cond='data:image'>
      <a class="header-logo" expr:href='data:blog.homepageUrl'>
        <img expr:alt='data:title' expr:height='data:height' expr:src='data:image' expr:width='data:width'/>
      </a>
    </b:if>
    {{!-- If imagePlacement is "BEHIND" --}}
    <b:if cond='data:imagePlacement == "BEHIND"'>
      <div class="header-title fs-3 m:fs-2 fw-500">
        <a expr:href='data:blog.homepageUrl'>
          <data:title/>
        </a>
      </div>
    </b:if>
    {{!-- If description exists and imagePlacement is not "REPLACE" --}}
    <b:if cond='data:description and data:imagePlacement != "REPLACE"'>
      <div class="header-subtitle m:fs-5">
        <data:description/>
      </div>
    </b:if>
  </b:if>
</b:includable>
