{{!--
Content of the widget LinkList
@author zkreations
@docs https://bloggercode-blogconnexion.blogspot.com/2019/04/widget-linkList.html
--}}
<b:includable id='widget:LinkList'>
  <div class='links'>
    {{!-- If the widget is in the header section, add the class 'links-header' --}}
    <b:class cond='data:widget.sectionId == "header"' name='links-header'/>
    <b:loop values='data:links' var='link'>
      <a class='links-link' expr:href='data:link.target'>
        <data:link.name/>
      </a>
    </b:loop>
  </div>
</b:includable>
{{!--
Social Networks
@author zkreations
--}}
<b:includable id='widget:LinkList_SocialNetworks'>
  <b:include name='@attr' data='{
      ["id"],
      ["data-version"],
      ["class","footer-social flex wrap g-1 items-center justify-center"]
    }'/>
  <b:loop values="data:links" var="link">
    <a class="footer-social-link" expr:href="data:link.target" expr:aria-label="data:link.name" rel="noopener noreferrer nofollow" target="_blank">
      <b:include name="@meteor" data="{ icon: data:link.name }"/>
    </a>
  </b:loop>
</b:includable>
