{{!--
Remplace widget-title
@docs https://bloggercode-blogconnexion.blogspot.com/1991/08/XML-renderer-widget-title.html
--}}
<b:includable id='widget-title'>
  <b:include name='@attr' data='{["id"],["data-version"]}'/>
  <b:class expr:name='data:widget.instanceId'/>
  {{!-- If widget is AdSense, Header or Blog --}}
  <b:if cond='["AdSense","Header","Blog"] contains data:widget.type'>
    <b:comment>Title is not needed</b:comment>
  {{!-- If widget is in header or footer section --}}
  <b:elseif cond='["header","footer"] contains data:widget.sectionId'/>
    <b:comment>Title is not available</b:comment>
  {{!-- If title is not empty --}}
  <b:elseif cond='data:defaultTitle or data:title.length != 0'/>
    {{!-- Title --}}
    <div class='widget-title'>
      <span class='widget-name fw-500'>
        {{!-- Show title or default title --}}
        <b:eval expr='data:defaultTitle ?: data:title'/>
      </span>
    </div>
  </b:if>
</b:includable>
